@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-size: 300% 300%;
    color: #000;
    background: linear-gradient(45deg, #146C94, #19A7CE, #AFD3E2, #F6F1F1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: backgroundGradient 15s ease infinite;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    top: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
    letter-spacing: 0.2rem;
}

h1 img {
    width: 10rem;
}

h1 img:nth-child(2) {
    width: 50px;
}

a {
    text-decoration: none;
    color: #061097;
}

.container {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.container .projects {
    border: 1px solid #032d5c;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
    margin: 20px;
}

.container .projects div {
    display: flex;
    justify-content: space-between;
}

.container .projects div .date-create {
    color: #000;
    border: 1px solid #00000047;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
}

.container .projects div .title {
    color: #1538d3;
}

.container .projects .language .circle {
    display: inline-block;
    background-color: #1538d3;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #00000047;
    border-radius: 50%;

}

/*Definition of Variables*/
:root {
    --font-color: #fff;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

@keyframes backgroundGradient {
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}